@import '../variable//variable.scss';
.login__flex {
  display: flex;
  margin-bottom: 2rem;
  & .login-form {
    margin-right: 2rem;
  }
  & .login__title {
    font-size: 0.9333333rem;
    color: #333;
    font-weight: bold;
    padding: 2rem 0;
  }
  & label {
    width: 100%;
    font-size: 0.9333333rem;
    font-weight: 400;
    margin-bottom: 1rem;
    &::after {
      content: " *";
      color: red;
    }
  }
  & input[type="text"],
  & input[type="email"] {
    width: 100%;
    margin: 1rem 0;
  }
  & .login__text {
      margin-bottom: 2rem;
    & a {
      float: right;
      font-size: 0.93333rem;
      color: $cam;
      border-bottom: 1px solid $cam;
    }
  }
  
  & .login__flex-right {
      & p {
          color: #939393;
      }
  }
}
 .btn__login {
  padding: 1rem 1.33333rem;
  background-color: $da;
  color: $white;
  border: none;
  &:hover {
      background-color: $cam;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .login__flex {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1140px) {
  .login__flex {
    & .login-form {
      & .login__text {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
