.banner__notfound {
    display: flex;
    align-items: center;
    & .banner--left {
        text-align: center;
        margin-bottom: 20px;
        & h3 {
            font-size: 6.6666667rem;
            color: #f5bd10;
            font-weight: bold;
        }
        & p {
            font-size: 1.2rem;
            color: #515151;
            margin: 2.66667rem 0;
        }
        & a {
            padding: 1.33333rem 2rem;
            background-color: #252525;
            color: #fff;
        }
    }
}
@media screen and (max-width: 768px) {
    .banner__notfound {
        flex-flow: row wrap;
        & .banner--left, & .banner--right {
            margin: 0 auto;
        }
        & .banner--right {
            margin-top: 2rem;
        }
    }
}