// font-size
$font-12: 0.8rem;
$font-13: 0.86666667rem;
$font-14: 0.9333333rem;
$font-15: 1rem;
$font-18: 1.2rem;
// End font-size

// background-color
$white: #fff;
$da: #252525;
$cam: #f5bd10;
$ddd: #dddddd;
$e1e: #e1e1e1;
$c98: #898989;
$a1a: #a1a1a1;
$c202: #202020;
//end background-color